<header class="header-3">
  <div class="header-inner">
    <div class="logo">
      <div class="howmuch-logo">How much</div>
    </div>
    <nav class="header-nav">
      <div class="header-btn">
          <%= link_to "新規投稿", new_portfolio_path, class:"button-pulse logout-btn" %>
          <%= link_to "チャット", rooms_path, class:"button-pulse logout-btn" if @userRooms.present? %>
          <%= link_to "マイページ", user_path(current_user.id), class:"button-pulse mypage-btn" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"button-pulse logout-btn" %>
      </div>  
    </nav>
  </div>
</header>

<%= form_with model: Portfolio.new, method: :post, local: true do |f| %>
  <div class="new-portfolio-form">
    <div class="portfolio-box">

      <div class="field">
        <%= f.file_field :images, multiple: true, class:"item-image" %>  
      </div>
  
      <div class="field">
        <%= f.label :タイトル, class:"portfolio-name-box" %><br />
        <%= f.text_field :portfolio_name, class:"portfolio-name-field", maxlength: "40" %>
      </div>
  
      <div>
        <%= f.label :詳細, class:"portfolio-detail-box" %><br />
        <%= f.text_area :detail, class:"field detail-field" %>
      </div>
  
      <div class="field">
        <%= f.label :職種, class:"portfolio-type-box" %><br />
        <%= f.collection_select(:type_id, Type.all, :id, :name, {prompt: "---" }, {class:"select-box", id:"item-category"}) %>
      </div>
  
      <div class="field">
        <%= f.label :開発言語, class:"portfolio-type-box" %><br />
        <%= f.collection_select(:development_language, DevelopmentLanguage.all, :id, :name, {prompt: "---" }, {class:"select-box", id:"item-category"}) %>
      </div>
  
      <div class="field">
        <%= f.label :ビジネスモデル, class:"business-type-box" %><br />
        <%= f.collection_select(:business_type, BusinessType.all, :id, :name, {prompt: "---" }, {class:"select-box business-type", id:"item-category"}) %>
      </div>
  
      <div class="radio-box">
        <label><%= f.radio_button :sale_type, 0, onClick:"saleType0(this.checked);" %>販売する</label>
        <label><%= f.radio_button :sale_type, 1, onClick:"saleType1(this.checked);" %>販売しない</label>
      </div>
  
      <div class="price-box">
        <%= f.label :価格, class:"portfolio-detail-box" %><br />
        <%= f.text_field :price, class:"price-field", id:"price-field-id", disabled:"disabled" %>
        <span class="yen">円</span>
      </div>
  
      <div>
        <%= f.submit "更新", class:"hover-effect_slide-edit"%>
      </div>
    </div>
  </div>
<% end %>


<script>
function saleType0(ischecked){
    if(ischecked == true){
      document.getElementById("price-field-id").disabled = false;
    } else {
      document.getElementById("price-field-id").disabled = true;
    }
  }

  function saleType1(ischecked){
    if(ischecked == true){
      document.getElementById("price-field-id").disabled = true;
    } else {
      document.getElementById("price-field-id").disabled = false;
    }
  }
  </script>