<header class="header-3">
  <div class="header-inner">
    <div class="logo">
      <div class="howmuch-logo">How much</div>
    </div>
    <nav class="header-nav">
      <div class="header-btn">
          <%= link_to "チャット", rooms_path, class:"button-pulse logout-btn" if @companyRooms.present? %>
          <%= link_to "マイページ", company_path(current_company.id), class:"button-pulse mypage-btn" %>
          <%= link_to "ログアウト", destroy_company_session_path, method: :delete, class:"button-pulse logout-btn" %>
      </div>  
    </nav>
  </div>
</header>

  <i class="fas fa-bars" id="toggle_button" style="color: black;"></i>
  
<div class="search-form-wrapper" id="toggle_menu">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    検索タイプ<br>
    <%= select_tag "range", options_for_select([['---選択してください---', ''], ['ユーザー', '1'], ['ポートフォリオ', '2']]), class:"search-select-box", id:"search-select", onchange:"entryChange();" %>

    <div class="search-field development-language" id="item-category0">
      <%= f.label :開発言語, class:"decelopment-language-box" %><br />
      <%= f.collection_select(:development_language_id, DevelopmentLanguage.all, :id, :name, {prompt: "---" }, {class:"select-box"}) %>
    </div>

    <div class="search-field" id="item-category1">
      <%= f.label :ビジネスモデル, class:"business-type-box" %><br />
      <%= f.collection_select(:business_type_id, BusinessType.all, :id, :name, {prompt: "---" }, {class:"select-box"}) %>
    </div>

    <div class="search-field" id="item-category2">
      <label class="search-radio-btn"><%= f.radio_button :sale_type_id, 0, onClick:"saleType0(this.checked);" %>販売する</label>
      <label class="search-radio-btn"><%= f.radio_button :sale_type_id, 1, onClick:"saleType1(this.checked);" %>販売しない</label>
    </div>

    <div class="search-field" id="item-category3">
      <%= f.label :価格上限, class:"price-box" %><br />
      <%= f.text_field :price, class:"search-price-field", id:"price-field-id", disabled:"disabled" %>
      <span class="price-unit">円</span>
    </div>

    <div class="search-field">
      <%= f.text_field :word, class:"search-form" %>
      <%= f.submit "検索", class:"search-btn" %>
    </div>  
  <% end %>
</div>

<div class="card-wrapper">
  <% @portfolios.each do |portfolio| %>
    <%= link_to portfolio_path(portfolio), class:"user-show-link" do %>
      <div class="card-value-show">
        <div class="image-wrapper">
          <% if portfolio.price != 0 %>
            <div class="portfolio-price">
              ¥<%= portfolio.price %>
            </div>
          <% else %>
            <div class="portfolio-price not-sale">
            ※売却不可
            </div>
          <% end %>  
          <div class="card-image">
            <%= image_tag portfolio.images[0].variant(resize_to_limit: [300, 300]), class:"portfolio-image" %>
          </div>
        </div>
  
        <div class="content-wrapper">
          <div class="card-user">
            <i class="fas fa-user-alt"></i>
            <%= portfolio.user.nickname %>
          </div>
          <div class="card-title">
            <div class="content-1"><%= portfolio.portfolio_name %></div>
          </div>
          <div class="card-detail">
            <%= portfolio.detail %>
          </div>
          <div class="news-list">
            <span class="arrow1"></span>
            <div class="notice">詳細</div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
function saleType0(ischecked){
    if(ischecked == true){
      document.getElementById("price-field-id").disabled = false;
    } else {
      document.getElementById("price-field-id").disabled = true;
    }
  }

  function saleType1(ischecked){
    if(ischecked == true){
      document.getElementById("price-field-id").disabled = true;
    } else {
      document.getElementById("price-field-id").disabled = false;
    }
  }

  function entryChange(){
    if(document.getElementById('search-select')){
      id = document.getElementById('search-select').value;

    if(id == '2'){
      document.getElementById('item-category0').style.display = "block";
      document.getElementById('item-category1').style.display = "block";
      document.getElementById('item-category2').style.display = "block";
      document.getElementById('item-category3').style.display = "block";
      document.getElementById('item-category4').style.display = "block";
      document.getElementById('item-category5').style.display = "block";
    } else if(id != '2') {
      document.getElementById('item-category0').style.display = "none";
      document.getElementById('item-category1').style.display = "none";
      document.getElementById('item-category2').style.display = "none";
      document.getElementById('item-category3').style.display = "none";
      document.getElementById('item-category4').style.display = "none";
      document.getElementById('item-category5').style.display = "none";
    }}
  }

  $(function(){
  
        $("#toggle_button").on("click", function() {
            $(this).next().slideToggle(); 
            $(this).toggleClass("active"); 
        });

});
</script>