<header class="header-3">
  <div class="header-inner">
    <div class="logo">
      <div class="howmuch-logo">How much</div>
    </div>
    <nav class="header-nav">
    <% if user_signed_in? %>
      <div class="header-btn">
        <%= link_to "New portfolio", new_portfolio_path, class:"button-pulse logout-btn" %>
        <%= link_to "Chat room", rooms_path, class:"button-pulse index-btn" if @userRooms.present? %>
        <%= link_to "My page", user_path(current_user.id), class:"button-pulse mypage-btn" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"button-pulse logout-btn" %>
      </div>
     <% end %>
      </div>  
    </nav>
  </div>
</header>

<%= form_with model: current_user, url: user_path(current_user.id), local: true do |f| %>
    プロフィール画像
  <div class="field">
    <%= f.file_field :user_image, class:"user-image" %>  
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, maxlength:"20" %>
  </div>

   <div class="field">
     <%= f.label :type_id, class:"portfolio-type-box" %><br />
     <%= f.collection_select(:type_id, Type.all, :id, :name, {prompt: "---" }, {class:"select-box", id:"item-category"}) %>
   </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana %><br />
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana %><br />
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_area :introduction, class:"introduce-box" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class:"edit-finish button-pulse" %>
  </div>
<% end %>
