<header class="header-3">
  <div class="header-inner">
    <div class="logo">
      <div class="howmuch-logo">How much</div>
    </div>
    <nav class="header-nav">
    <% if user_signed_in? && current_user.id == @current_user.id %>
      <div class="header-btn">
        <%= link_to "New portfolio", new_portfolio_path, class:"button-pulse logout-btn" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"button-pulse logout-btn" %>
      </div>
    <% else company_signed_in? %>
      <div class="header-btn">  
        <%= link_to "All portfolios", portfolios_path, class:"button-pulse index-btn" %>
        <%= link_to "My page", company_path(current_company.id), class:"button-pulse mypage-btn" %>
        <%= link_to "Log out",  destroy_company_session_path, method: :delete, class:"button-pulse logout-btn" %>
      </div>
     <% end %>
      </div>  
    </nav>
  </div>
</header>

<div class="card-wrapper">
  <% @my_portfolios.each do |my_portfolio| %>
  <div class="card-value">
    <div class="image-wrapper">
      <div class="card-image">
        <%= image_tag my_portfolio.images[0].variant(resize_to_limit: [300, 300]) %>
       </div>
    </div>  

    <div class="content-wrapper">
      <div class="card-title">
        <div class="content-1"><%= my_portfolio.portfolio_name %></div>
      </div>
      <div class="card-detail">
        <%= my_portfolio.detail %>
      </div>
      <div class="next-to btn">
        <%= link_to "全体を表示する", portfolio_path(my_portfolio), class:"content-3" %>
      </div>
    </div>
  </div>
  <% end %>
</div>


<% if company_signed_in? %>
  <% if @haveRoom == true  %>
    <%= link_to "ダイレクトメッセージ", room_path(@roomId) %>
  <% else %>
    <%= form_for @room do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :company_id, value: current_company.id %>  
      <%= fields_for @entry do |m| %>
        <%= m.hidden_field :user_id, value: @user.id %>
        <%= m.hidden_field :company_id, value: current_company.id %>
      <% end %>  
      <%= f.submit "ダイレクトメッセージ" %>
    <% end %>
  <% end %>
<% end %>