<header class="header-3">
  <div class="header-inner">
    <div class="logo">
      <div class="howmuch-logo">How much</div>
    </div>
    <nav class="header-nav">
    <% if user_signed_in? %>
      <div class="header-btn">
        <%= link_to "New portfolio", new_portfolio_path, class:"button-pulse logout-btn" %>
        <%= link_to "Chat room", rooms_path, class:"button-pulse index-btn" if @userRooms.present? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"button-pulse logout-btn" %>
      </div>
    <% else company_signed_in? %>
      <div class="header-btn">  
        <%= link_to "All portfolios", portfolios_path, class:"button-pulse index-btn" %>
        <%= link_to "Chat room", rooms_path, class:"button-pulse index-btn" if @companyRooms.present? %>
        <%= link_to "My page", company_path(current_company.id), class:"button-pulse mypage-btn" %>
        <%= link_to "Log out",  destroy_company_session_path, method: :delete, class:"button-pulse logout-btn" %>
      </div>
     <% end %>
      </div>  
    </nav>
  </div>
</header>

<div class="user-header">
  <div class="left-user-header">
    <div class="user-icon">
      <%= image_tag @user.user_image.variant(resize_to_limit: [250, 250]) if @user.user_image.attached? %>
    </div>
    <div class="user-nickname">
      <%= @user.nickname %>
    </div>
    <div class="user-type">
      <%= @user.type.name %>
    </div>
    <% if @user == current_user %>
      <div class="user-btn-groups">
        <%= link_to "Edit", edit_user_path(@user), class:"edit-btn button-fill" %>
      </div>
    <% end %>
    <% if company_signed_in? %>
      <% if @haveRoom == true %>
      <div class="dm-btn-form">
        <%= link_to "ダイレクトメッセージ", room_path(@roomId), class:"button-4 dm-btn" %>
      </div>  
      <% elsif %>
        <%= form_with model: @room, url: rooms_path, class:"dm-btn-form", local: true do |f| %>
         <%= f.hidden_field :user_id, value: @user.id %>
         <%= f.hidden_field :company_id, value: current_company.id %>  
        <%= f.submit "ダイレクトメッセージ", class:"button-4 dm-btn" %>
        <% end %>
      <% end %>
    <% end %>    
  </div>

  <div class="right-user-header">
    <div class="user-introduction">
      <%= @user.introduction %>
    </div>
  </div>
</div>


<div class="card-wrapper">
  <% @myPortfolios.each do |portfolio| %>
  <div class="card-value">
    <div class="image-wrapper">
      <div class="card-image">
        <%= image_tag portfolio.images[0].variant(resize_to_limit: [300, 300]), class:"portfolio-image" %>
       </div>
    </div>  

    <div class="content-wrapper">
      <div class="card-title">
        <div class="content-1"><%= portfolio.portfolio_name %></div>
      </div>
      <div class="card-detail">
        <%= portfolio.detail %>
      </div>
      <div class="next-to-btn">
        <%= link_to "詳細を表示する", portfolio_path(portfolio), class:"content-3" %>
      </div>
    </div>
  </div>
  <% end %>
</div>