<header class="header-3">
  <div class="header-inner">
    <div class="logo">
      <div class="howmuch-logo">How much</div>
    </div>
    <nav class="header-nav">
    <% if user_signed_in?  %>
      <div class="header-btn">
        <%= link_to "New portfolio", new_portfolio_path, class:"button-pulse logout-btn" %>
        <%= link_to "My page", user_path(current_user.id), class:"button-pulse mypage-btn" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"button-pulse logout-btn" %>
      </div>
    <% else company_signed_in? %>
      <div class="header-btn">  
        <%= link_to "All portfolios", portfolios_path, class:"button-pulse index-btn" %>
        <%= link_to "My page", company_path(current_company.id), class:"button-pulse mypage-btn" %>
        <%= link_to "Log out",  destroy_company_session_path, method: :delete, class:"button-pulse logout-btn" %>
        <%# 戻るボタンも必要 %>
      </div>
     <% end %>
      </div>  
    </nav>
  </div>
</header>


<%= room_lists(@companyMessages, @messages) %>








<%= form_with model: @companyMessage, url: room_company_messages_path(@room.id), local: true do |f| %>
  <%= f.text_field :content, placeholder: "メッセージを入力して下さい" %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.hidden_field :company_id, value: current_company.id %>
  <%= f.submit "送信" %>
<% end %>

