<div class="box-wrapper new-registration-box">
  <div class="box">
    <div class="box-inner">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <h2 class="profile-image">プロフィール画像</h2>
        <div class="icon-field">
          <%= f.file_field :user_image, class:"user-image" %>
        </div>

        <div class="box-email">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="box-password">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="box-password">
          <%= f.label :確認用パスワード %><br />
          <%= f.password_field :password_confirmation, autocomplete: "current-password" %>
        </div>
      
        <div class="box-user">
          <%= f.label :ユーザー名 %><br />
          <%= f.text_field :nickname, maxlength:"20" %>
        </div>

        <div class="box-user">
          <%= f.label :姓 %><br />
          <%= f.text_field :last_name %>
        </div>

        <div class="box-user">
          <%= f.label :名 %><br />
          <%= f.text_field :first_name %>
        </div>

        <div class="box-user">
          <%= f.label :セイ %><br />
          <%= f.text_field :last_name_kana %>
        </div>

        <div class="box-user">
          <%= f.label :メイ %><br />
          <%= f.text_field :first_name_kana %>
        </div>

        <div class='input-birth-wrap'>
          <%= raw sprintf(
                      f.date_select(
                        :birthday,
                        class:'select-birth',
                        id:"birth-date",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 1930,
                        end_year: (Time.now.year - 5),
                        date_separator: '%s'),
                      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>

        <div class="box-user">
          <%= f.label :自己紹介 %><br />
          <%= f.text_area :introduction, class:"introduce-box", placeholder: "経歴・スキル・資格・実績など、具体的な実績を記載しましょう。企業からのスカウトの確率を高めることに繋がります。" %>
        </div>


        <div class="box-login ">
          <div class="legal-text">
            続行することで、Howmuchの
            <%= link_to "利用規約", "#" %>
            および
            <%= link_to "プライバシー規約", "#" %>
            に同意するものとみなされます。
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="remember">
              <%= f.check_box :remember_me %>
              <%= f.label :remember, "ログインしたままにする" %>
            </div>
          <%= f.submit "新規登録", class:"new-registration-btn" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>